* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 100%;
}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2688F0;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.brand img {
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: black;
  border-bottom: 2.5px solid black;
}

.nav-home {
    color: black;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover, .main-footer_link a:active {
  color: #ccc;
}

@media(min-width: 40rem) {
    .main-nav {
        display: flex;
      }
    .toggle-button {
        display: none;
    }
}

@media(min-width: 40rem){
    .main-footer__link {
      margin: 0 1rem;
    }

    .main-footer ul {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
}

#product-overview {
    background-image: url("images/coder_4.jpg");
    background-size: cover;
    background-position: left 10% bottom 50%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    width: 100vw;
    height: 60vh;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 50%;
    left: 20%;
    font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height: 90vh;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}
